<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Login Page - RunMe</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
    rel="stylesheet">

  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css" href="./app-assets/vendors/css/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="./app-assets/vendors/css/extensions/toastr.css">
  <!-- END: Vendor CSS-->

  <!-- BEGIN: Theme CSS-->
  <link rel="stylesheet" type="text/css" href="./app-assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./app-assets/css/bootstrap-extended.css">
  <link rel="stylesheet" type="text/css" href="./app-assets/css/colors.css">
  <link rel="stylesheet" type="text/css" href="./app-assets/css/components.css">
  <link rel="stylesheet" type="text/css" href="./app-assets/css/themes/dark-layout.css">
  <link rel="stylesheet" type="text/css" href="./app-assets/css/themes/semi-dark-layout.css">
  <!-- END: Theme CSS-->

  <!-- BEGIN: Page CSS-->
  <link rel="stylesheet" type="text/css" href="./app-assets/css/core/menu/menu-types/vertical-menu.css">
  <link rel="stylesheet" type="text/css" href="./app-assets/css/pages/authentication.css">
  <!-- END: Page CSS-->

  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
  <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<body
  class="vertical-layout vertical-menu-modern dark-layout 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page"
  data-open="click" data-menu="vertical-menu-modern" data-col="1-column" data-layout="dark-layout">
  {{{body}}}
  <!-- BEGIN: Vendor JS-->
  <script src="./app-assets/vendors/js/vendors.min.js"></script>
  <script src="./app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js"></script>
  <script src="./app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
  <script src="./app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>
  <!-- BEGIN Vendor JS-->

  <!-- BEGIN: Page Vendor JS-->
  <script src="./app-assets/vendors/js/extensions/toastr.min.js"></script>
  <!-- END: Page Vendor JS-->

  <!-- BEGIN: Theme JS-->
  <script src="./app-assets/js/scripts/configs/vertical-menu-dark.js"></script>
  <script src="./app-assets/js/core/app-menu.js"></script>
  <script src="./app-assets/js/core/app.js"></script>
  <script src="./app-assets/js/scripts/components.js"></script>
  <script src="./app-assets/js/scripts/footer.js"></script>
  <!-- END: Theme JS-->

  <!-- BEGIN: Page JS-->
  <!-- END: Page JS-->

  <!-- BEGIN: flash-->
  {{#if flash.message}}
      {{{flashMe flash}}}
  {{/if}}
  <!-- END: flash-->

</body>

</html>