<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand"
                    href="/dashboard">
                    <h2 class="brand-text mb-0">RunMe</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                        class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i
                        class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary"
                        data-ticon="bx-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation"
            data-icon-style="lines">
            <li class=" nav-item">
                <a href="/dashboard">
                    <i class="menu-livicon" data-icon="desktop"></i>
                    <span class="menu-title text-truncate" data-i18n="Dashboard">Dashboard</span>
                    {{!-- <span class="badge badge-light-danger badge-pill badge-round float-right mr-50 ml-auto">2</span> --}}
                </a>
            </li>
            {{!-- <li class=" navigation-header text-truncate"><span data-i18n="Apps">Logs</span></li> --}}
            <li class=" nav-item">
                <a href="/crons">
                    <i class="menu-livicon" data-icon="morph-lock"></i>
                    <span class="menu-title text-truncate" data-i18n="Logs">View Cron</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="menu-livicon" data-icon="users"></i>
                    <span class="menu-title text-truncate" data-i18n="User">User</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a class="d-flex align-items-center" href="/users">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate" data-i18n="List">Users List</span>
                        </a>
                    </li>
                    {{!-- <li>
                        <a class="d-flex align-items-center" href="/users/add">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate" data-i18n="Edit">Add User</span>
                        </a>
                    </li> --}}
                </ul>
            </li>
            {{!-- <li class=" navigation-header text-truncate"><span data-i18n="Help">Help</span></li>
            <li class=" nav-item"><a href="https://pixinvent.ticksy.com/" target="_blank"><i class="menu-livicon"
                        data-icon="help"></i><span class="menu-title text-truncate" data-i18n="Raise Support">Raise
                        Support</span></a>
            </li> --}}
        </ul>
    </div>
</div>