<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- not authorized start -->
                <section class="row flexbox-container">
                    <div class="col-xl-7 col-md-8 col-12">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-body text-center bg-transparent">
                                <img src="/app-assets/images/pages/not-authorized.png" class="img-fluid" alt="not authorized" width="400">
                                <h1 class="my-2 error-title">You are not authorized!</h1>
                                <p>You do not have permission to view this directory or page using the credentials that you supplied.</p>
                                <a href="/dashboard" class="btn btn-primary round glow mt-2">BACK TO HOME</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- not authorized end -->

            </div>
        </div>
    </div>
    <!-- END: Content-->